.block{
    background-color:#fefff5;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 50px 150px 150px auto;
    grid-gap: 10px;
    grid-template-areas: 
    "ph ph"
    "av nick"
    "av bio"
    "np np"
    "p p";
    height:100%;
    width:100%;
}
.photo{
    grid-area: ph;
}
.avatar{
    grid-area: av;
}
.nick{
    grid-area: nick;
}
.bio{
    grid-area: bio;
}
.newpost{
    grid-area: np;
}
.posts{
    grid-area: p;
}