*{
  margin:0px;
  padding: 0px;
}
.app{
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: 
  "h h"
  "n m"
  "f f";
  grid-gap: 10px;
  margin: 25px 10%
}
.header{
  grid-area: h;
}
.main{
grid-area: m;
}
.navigation{
  grid-area: n;
}
.futer{
  grid-area: f;
}